.gifts-section {
  padding: 3.75rem 0.5rem;
  background-image: url('../../../assets/images/bg-garland.webp');
  background-repeat: no-repeat;
  background-size: contain;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;

    max-width: 79.75rem;
    margin-inline: auto;
  }

  .heading {
    max-width: 26.625rem;
    color: var(--color-static-white);
    text-align: center;
  }
}
