@font-face {
  font-family: Montserrat;
  font-weight: 600;
  src: url('./montserrat/Montserrat-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url('./montserrat/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Allura;
  font-weight: 400;
  src: url('./allura/Allura-Regular.woff2') format('woff2');
}

.text-header-1 {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

.text-header-2 {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5 /* 1.52 */;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

.text-header-3 {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5 /* 1.52 */;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.text-header-4 {
  font-family: Montserrat, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem /* 1.3 */;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.text-paragraph {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5 /* 1.48 */;
}

.text-action-large {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5 /* 1.52 */;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

.text-action-small {
  font-family: Montserrat, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem /* 1.3 */;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.text-caption {
  font-family: Allura, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
}

.text-slider-text {
  font-family: Montserrat, sans-serif;
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
}
