.timer {
  display: grid;
  grid-template-columns: repeat(4, 5rem);

  padding: 0.5rem 0.75rem 0.75rem;

  text-align: center;

  background-color: var(--color-static-white-40);
  border-radius: 1.25rem;

  .timer-item {
    position: relative;
  }

  .timer-item:not(:last-child) {
    &::before {
      --height: 1.25rem;

      content: '';

      position: absolute;
      top: calc(50% - var(--height) / 2);
      right: 0;

      display: block;

      width: 0.0625rem;
      height: var(--height);

      background-color: var(--color-static-white-40);
    }
  }

  .timer-item-text {
    display: block;
  }
}
