.gifts-section {
  max-width: 90rem;
  margin-inline: auto;
  padding: 3.75rem 0.5rem;

  background-color: var(--color-primary);
  background-image: url('../../assets/images/bg-garland.webp');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.25rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;

    max-width: 79.75rem;
    margin-inline: auto;
  }

  .heading {
    max-width: 26.625rem;
    color: var(--color-static-white);
    text-align: center;
  }

  .category-tab-fieldset {
    display: flex;
    margin: unset;
    padding: unset;
    border: unset;

    @media (width > 31.625rem) {
      gap: 0.5rem;
    }
  }

  .category-tab-label {
    cursor: pointer;
    user-select: none;

    padding: 0.75rem 0.5rem;

    color: var(--color-static-white);
    text-wrap: nowrap;

    background-color: unset;
    border: unset;
    border-radius: 0.75rem;

    transition-duration: var(--transition-duration);
    transition-property: background-color;

    &:has(:checked) {
      pointer-events: none;
      background-color: var(--color-static-white-20);
    }

    @media (width > 31.625rem) {
      padding: 0.75rem 1.25rem;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--color-static-white-20);
      }
    }
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;

    padding-left: 0;
  }

  .card-list-item {
    list-style: none;
  }
}
