.category-tab-fieldset {
  display: flex;
  margin: unset;
  padding: unset;
  border: unset;

  @media (width > 31.625rem) {
    gap: 0.5rem;
  }
}

.category-tab-label {
  cursor: pointer;
  user-select: none;

  padding: 0.75rem 0.5rem;

  color: var(--color-static-white);
  text-wrap: nowrap;

  background-color: unset;
  border: unset;
  border-radius: 0.75rem;

  transition-duration: var(--transition-duration);
  transition-property: background-color;

  &:has(:checked) {
    pointer-events: none;
    background-color: var(--color-static-white-20);
  }

  &:active {
    background-color: var(--color-static-white-20);
  }

  @media (width > 31.625rem) {
    padding: 0.75rem 1.25rem;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-static-white-20);
    }
  }
}
