.footer {
  padding: 3.75rem 0.5rem;
  background-color: var(--color-static-white);

  .container {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;

    max-width: 79.75rem;
    margin-inline: auto;
  }

  .contacts-list {
    display: grid;
    gap: 0.75rem;
    padding-left: 0;
    border-radius: 3.75rem;

    @media (width > 66rem) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .contacts-list-item {
    --border-radius: 1.25rem;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;

    padding: 1.25rem;

    list-style: none;

    background-color: var(--color-content-background);
    border-radius: var(--border-radius);

    .contact-icon {
      width: 5rem;
      height: 5rem;
    }

    .contact-link {
      color: var(--color-dark);
      text-decoration: none;
      transition-duration: var(--transition-duration);
      transition-property: color;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: var(--border-radius);
      }
    }

    .contact-heading {
      transition-duration: var(--transition-duration);
      transition-property: color;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .contact-link {
          color: var(--color-primary);
        }

        .contact-heading {
          color: var(--color-primary);
        }
      }
    }
  }

  .lower-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
  }

  .socials-list {
    display: flex;
    gap: 0.75rem;
    padding-left: 0;
  }

  .socials-list-item {
    list-style: none;
  }

  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;
  }

  :is(.social-link, .school-link) {
    color: var(--color-dark);
    text-decoration: none;
    transition-duration: var(--transition-duration);
    transition-property: color;
  }

  @media (hover: hover) and (pointer: fine) {
    :is(.social-link, .school-link):hover {
      color: var(--color-primary);
    }
  }
}
