.slider-section {
  overflow-x: hidden;

  max-width: 90rem;
  margin-inline: auto;
  padding: 3.75rem 0.5rem;

  color: var(--color-static-white);

  background-color: var(--color-primary);
  background-image: url('../../assets/images/bg-snow.webp');
  background-position: center;
  background-size: cover;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    max-width: 79.75rem;
    margin-inline: auto;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;

    max-width: 26.625rem;
    margin-inline: auto;
  }

  .slider-container {
    display: flex;
    gap: 1.25rem;
    align-items: center;

    transition-duration: 250ms;
    transition-property: transform;
  }

  .slider-text {
    display: block;
  }

  .slider-image {
    display: block;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 1.25rem;
  }

  .slider-buttons-container {
    display: flex;
    gap: 1.25rem;
    margin-left: auto;
  }

  .slider-button {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 3.5rem;
    height: 3.5rem;

    font-family: Montserrat, sans-serif;
    color: var(--color-static-white);

    background-color: transparent;
    border: 0.0625rem solid var(--color-static-white);
    border-radius: 1.25rem;

    transition-duration: 250ms;
    transition-property: color, background-color;

    &:disabled {
      pointer-events: none;
      color: var(--color-static-white-40);
      background-color: var(--color-static-white-40);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover:enabled {
        color: var(--color-primary);
        background-color: var(--color-static-white);
      }
    }
  }
}
