.header {
  max-width: 90rem;
  margin-inline: auto;
  padding-inline: 0.5rem;

  .container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 79.75rem;
    margin-inline: auto;
    padding-block: 0.75rem;
  }

  .logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    padding: 0.5rem 1.25rem;

    color: var(--color-dark);
    text-decoration: none;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--color-primary);
    }
  }

  .nav-menu {
    .nav-list {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      height: 100%;
      margin: 0;
      padding-left: 0;
    }

    .nav-item {
      list-style: none;
    }

    .nav-link {
      display: block;

      padding: 0.75rem 1.25rem;

      color: var(--color-dark);
      text-decoration: none;

      border-radius: 0.75rem;

      transition-duration: 250ms;
      transition-property: color, background-color;

      &.selected {
        color: var(--color-primary);
        background-color: var(--color-primary-10);
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: var(--color-primary);
          background-color: var(--color-primary-10);
        }
      }
    }

    @media (width <= 48rem) {
      display: none;
    }
  }

  .burger {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;

    &::before,
    &::after {
      content: '';

      display: block;

      width: 1.25rem;
      height: 0.125rem;

      background-color: var(--color-dark);

      transition: 300ms;
    }

    &:has(:checked) {
      &::before {
        transform: translateY(0.25rem) rotate(0.375turn);
      }

      &::after {
        transform: translateY(-0.25rem) rotate(0.625turn);
      }
    }

    .burger-checkbox {
      display: none;
    }

    @media (width > 48rem) {
      display: none;
    }
  }
}
