.about {
  padding: 3.75rem 0.5rem;

  background-color: var(--color-primary);
  background-image: url('../assets/images/bg-snow.webp');
  background-position: center;
  background-size: cover;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 79.75rem;
    margin-inline: auto;

    background-color: var(--color-static-white);
    border-radius: 1.25rem;
  }

  .text-container-outer {
    padding-inline: 3.75rem;
  }

  .text-container-inner {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    max-width: 26.625rem;
    padding-block: 3.75rem;
  }

  .caption {
    color: var(--color-primary);
  }

  .heading {
    margin-block: 0;
  }

  .paragraph {
    margin-block: 0;
  }

  .image-container {
    overflow: clip;
    height: 33rem;
    border-radius: 1.25rem;
  }
}
