.cta-section {
  max-width: 90rem;
  margin-inline: auto;
  padding: 3.75rem 0.5rem;

  color: var(--color-static-white);

  background-color: var(--color-primary);
  background-image: url('../assets/images/bg-snow.webp'), url('../assets/images/bg-forest.webp');
  background-position: center;
  background-size: cover;
  border-radius: 0 0 1.25rem 1.25rem;

  .container {
    max-width: 79.75rem;
    margin-inline: auto;
    padding-block: 3.75rem;
  }

  .container-inner {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;

    max-width: 26.625rem;
    margin-inline: auto;
    padding-block: 3.75rem;
  }

  .heading {
    text-align: center;
  }

  .timer-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }
}
