.best-gifts-section {
  max-width: 90rem;
  margin-inline: auto;
  padding: 3.75rem 0.5rem;

  color: var(--color-static-white);

  background-color: var(--color-primary);
  background-image: url('../../assets/images/bg-snow.webp');
  background-position: center;
  background-size: cover;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    max-width: 79.75rem;
    margin-inline: auto;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;

    max-width: 26.625rem;
    margin-inline: auto;
  }

  .cards-list {
    display: flex;
    gap: 0.75rem;
    margin-block: 0;
    padding-left: 0;
  }

  .cards-list-item {
    list-style: none;
  }
}
