.header {
  --header-height: 4rem;

  max-width: 90rem;
  margin-inline: auto;
  padding-inline: 0.5rem;
  background-color: var(--color-static-white);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 79.75rem;
    height: var(--header-height);
    margin-inline: auto;
  }

  .logo {
    position: relative;
    z-index: 3;

    display: flex;
    gap: 0.5rem;
    align-items: center;

    padding: 0.5rem 1.25rem;

    color: var(--color-dark);
    text-decoration: none;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--color-primary);
    }
  }

  .burger {
    cursor: pointer;

    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    gap: 0.4375rem;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;
    padding: unset;

    background-color: unset;
    border: unset;

    &::before,
    &::after {
      content: '';

      display: block;

      width: 1.25rem;
      height: 1px;

      background-color: var(--color-dark);
      border-radius: 0.0625rem;

      transition-duration: var(--transition-duration);
    }

    &.open {
      &::before {
        transform: translateY(0.25rem) rotate(0.375turn);
      }

      &::after {
        transform: translateY(-0.25rem) rotate(0.625turn);
      }
    }

    @media (width > 48rem) {
      display: none;
    }
  }

  .nav-menu {
    position: fixed;
    z-index: 2;
    inset: 0 -100dvw 0 100dvw;

    padding-top: var(--header-height);

    opacity: 0;
    background-color: var(--color-static-white);

    transition-duration: var(--transition-duration);
    transition-property: inset, opacity;

    .nav-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;

      height: 100%;
      padding-left: 0;

      @media (width > 48rem) {
        flex-direction: unset;
        gap: 0.5rem;
        justify-content: unset;
      }
    }

    .nav-item {
      list-style: none;
    }

    .nav-link {
      display: block;

      padding: 0.75rem 1.25rem;

      font-family: Montserrat, sans-serif; /* .text-action-large */
      font-size: 1.5rem; /* .text-action-large */
      font-weight: 600; /* .text-action-large */
      line-height: 1.5; /* .text-action-large */
      color: var(--color-dark);
      text-decoration: none;
      text-transform: uppercase; /* .text-action-large */
      letter-spacing: 0.16em; /* .text-action-large */

      border-radius: 0.75rem;

      transition-duration: var(--transition-duration);
      transition-property: color, background-color;

      &:not([href]) {
        pointer-events: none;
        color: var(--color-primary);
        background-color: var(--color-primary-10);
      }

      &:active {
        color: var(--color-primary);
        background-color: var(--color-primary-10);
      }

      @media (width > 48rem) {
        font-family: Montserrat, sans-serif; /* .text-action-small */
        font-size: 0.75rem; /* .text-action-small */
        font-weight: 600; /* .text-action-small */
        line-height: 1rem; /* .text-action-small */
        text-transform: uppercase; /* .text-action-small */
        letter-spacing: 0.05em; /* .text-action-small */
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: var(--color-primary);
          background-color: var(--color-primary-10);
        }
      }
    }

    @media (width > 48rem) {
      position: unset;
      z-index: unset;
      inset: unset;

      padding-top: unset;

      opacity: unset;
      background-color: unset;

      transition-duration: unset;
      transition-property: unset;
    }
  }

  &:has(.burger.open) {
    .nav-menu {
      inset: 0;
      opacity: 1;
    }
  }
}

body:has(.burger.open) {
  overflow-y: hidden;
}
