.card {
  --border-radius: 1.25rem;

  position: relative;

  display: flex;
  flex-direction: column;

  width: 19.375rem;
  height: 21.375rem;

  background-color: var(--color-content-background);
  border-radius: var(--border-radius);

  .text-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;

    padding: 1.25rem;

    background-color: var(--color-static-white);
    border-radius: var(--border-radius);
  }

  .name {
    z-index: 1;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    color: var(--color-dark);
    text-overflow: ellipsis;

    transition-duration: 250ms;
    transition-property: color;
  }

  .show-details-button {
    cursor: pointer;

    position: absolute;
    inset: 0;

    background: unset;
    border: unset;
    border-radius: var(--border-radius);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover .name {
      color: var(--color-primary);
    }
  }
}
