.button {
  cursor: pointer;

  padding: 1.25rem 2rem;

  color: var(--color-static-white);
  text-decoration: none;

  background-color: var(--color-dark);
  border: none;
  border-radius: 1.25rem;

  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  transition-property: color, background-color, scale;

  &:active {
    scale: 0.95;
    color: var(--color-dark);
    background-color: var(--color-static-white);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--color-dark);
      background-color: var(--color-static-white);
    }
  }
}
